{% extends 'artisan_app/base.html' %}
{% load static %}
{% block content %}
<!--  NAVBAR
================================================== -->

<!-- navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar__collapse" aria-expanded="false">
        <span class="sr-only">Menu</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}">The Artisan Bakery</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar__collapse">
      <ul class="nav navbar-nav navbar-right">

        <!-- General links english-->
        <!-- <li><a href="{% url 'home' %}">Home</a><li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'menu' %}">Menu</a></li>
        <li><a href="{% url 'gallery' %}">Gallery</a></li>
        <li ><a href="{% url 'events' %}">Events</a></li>
        <li class="active"><a href="{% url 'blog' %}">Blog</a></li>
        <li><a href="{% url 'contacts' %}">Contact</a></li> -->

        <!-- General links romanian-->
        <li><a href="{% url 'home' %}">Acasa</a></li>
        <li><a href="{% url 'about' %}">Despre</a></li>
        <li><a href="{% url 'menu' %}">Meniu</a></li>
        <li><a href="{% url 'gallery' %}">Fotografii</a></li>
        <li><a href="{% url 'events' %}">Evenimente</a></li>
        <li class="active"><a href="{% url 'blog' %}">Blog</a></li>
        <li><a href="{% url 'contacts' %}">Contact</a></li>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>
      <!-- HEADER
      ================================================== -->
      <section class="section section_header section_header__blog">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">

              <!-- Heading -->
              <h1 class="section__heading section_header__heading text-center">
                Blog
              </h1>

              <!-- Breadcrumbs -->
              <ol class="breadcrumb">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">Blog</li>
              </ol>

            </div>
          </div> <!-- .row -->
        </div> <!-- .container -->
        <div class="section_header__bg blog_bg"></div>
      </section>

      <!-- section blog -->
      <section class="section_blog" id="section_blog">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <h2 class="section_title">&#8722; Stories &#8722;</h2>
              <hr class="section_title_line">
              <p class="section_caption">Read about our latest news, events and much more about life of our friendly family</p>
            </div>
          </div> <!-- .row -->
          <div class="row">
            <div class="col-sm-6 col-md-4">
              <div class="blog__item blog__item1">
                <div class="blog-item__img">
                  <img src="{% static 'img/gallery_1.jpg' %}" class="img-responsive" alt="...">
                </div>
                <div class="blog-item__content">
                  <a href="{% url 'blog_post' %}" class="blog-item__title">
                    <h3>How to serve a table</h3>
                  </a>
                  <div class="blog-item__info">
                    <ul class="item-info__list">
                      <li class="info-list__item"><i class="ion-android-person" aria-hidden="true"></i> by John Doe</li>
                      <li class="info-list__item"><i class="ion-android-chat" aria-hidden="true"></i> 5 Comments</li>
                      <li class="info-list__item"><i class="ion-android-calendar" aria-hidden="true"></i> 2 hours ago</li>
                    </ul>
                  </div>
                  <div class="blog-item__text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non quis quia laudantium accusantium, sint, perspiciatis magni illum deserunt mollitia quaerat doloribus deleniti incidunt consequuntur earum fuga dolorum consequatur corrupti adipisci.
                  </div>
                  <p class="blog-item__tags"><i class="ion-ios-pricetags" aria-hidden="true"></i> <a href="#">#table,</a> <a href="#">#food,</a> <a href="#">#groggery</a></p>
                </div> <!-- / .blog-item__content -->
              </div> <!-- / .blog__item -->
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="blog__item blog__item1">
                <div class="blog-item__img">
                  <img src="{% static 'img/gallery_3.jpg' %}" class="img-responsive" alt="...">
                </div>
                <div class="blog-item__content">
                  <a href="{% url 'blog_post' %}" class="blog-item__title">
                    <h3>Features of Spanish wine</h3>
                  </a>
                  <div class="blog-item__info">
                    <ul class="item-info__list">
                      <li class="info-list__item"><i class="ion-android-person" aria-hidden="true"></i> by John Doe</li>
                      <li class="info-list__item"><i class="ion-android-chat" aria-hidden="true"></i> 5 Comments</li>
                      <li class="info-list__item"><i class="ion-android-calendar" aria-hidden="true"></i> 2 hours ago</li>
                    </ul>
                  </div>
                  <div class="blog-item__text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non quis quia laudantium accusantium, sint, perspiciatis magni illum deserunt mollitia quaerat doloribus deleniti incidunt consequuntur earum fuga dolorum consequatur corrupti adipisci.
                  </div>
                  <p class="blog-item__tags"><i class="ion-ios-pricetags" aria-hidden="true"></i> <a href="#">#cook,</a> <a href="#">#recipe,</a> <a href="#">#groggery</a></p>
                </div> <!-- / .blog-item__content -->
              </div> <!-- / .blog__item -->
            </div>
            <div class="col-sm-12 col-md-4">
              <div class="blog__item blog__item1">
                <div class="blog-item__img">
                  <img src="{% static 'img/gallery_5.jpg' %}" class="img-responsive" alt="...">
                </div>
                <div class="blog-item__content">
                  <a href="{% url 'blog_post' %}" class="blog-item__title">
                    <h3>Interior and design</h3>
                  </a>
                  <div class="blog-item__info">
                    <ul class="item-info__list">
                      <li class="info-list__item"><i class="ion-android-person" aria-hidden="true"></i> by John Doe</li>
                      <li class="info-list__item"><i class="ion-android-chat" aria-hidden="true"></i> 7 Comments</li>
                      <li class="info-list__item"><i class="ion-android-calendar" aria-hidden="true"></i> 5 hours ago</li>
                    </ul>
                  </div>
                  <div class="blog-item__text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non quis quia laudantium accusantium, sint, perspiciatis magni illum deserunt mollitia quaerat doloribus deleniti incidunt consequuntur earum fuga dolorum consequatur corrupti adipisci.
                  </div>
                  <p class="blog-item__tags"><i class="ion-ios-pricetags" aria-hidden="true"></i> <a href="#">#bar,</a> <a href="#">#cafe,</a> <a href="#">#groggery</a></p>
                </div> <!-- / .blog-item__content -->
              </div> <!-- / .blog__item -->
            </div>
          </div> <!-- .row -->
          <div class="row">
            <div class="col-sm-6 col-md-4">
              <div class="blog__item blog__item1">
                <div class="blog-item__img">
                  <img src="{% static 'img/gallery_4.jpg' %}" class="img-responsive" alt="...">
                </div>
                <div class="blog-item__content">
                  <a href="{% url 'blog_post' %}" class="blog-item__title">
                    <h3>Cafe as a house</h3>
                  </a>
                  <div class="blog-item__info">
                    <ul class="item-info__list">
                      <li class="info-list__item"><i class="ion-android-person" aria-hidden="true"></i> by John Doe</li>
                      <li class="info-list__item"><i class="ion-android-chat" aria-hidden="true"></i> 10 Comments</li>
                      <li class="info-list__item"><i class="ion-android-calendar" aria-hidden="true"></i> 12 hours ago</li>
                    </ul>
                  </div>
                  <div class="blog-item__text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non quis quia laudantium accusantium, sint, perspiciatis magni illum deserunt mollitia quaerat doloribus deleniti incidunt consequuntur earum fuga dolorum consequatur corrupti adipisci.
                  </div>
                  <p class="blog-item__tags"><i class="ion-ios-pricetags" aria-hidden="true"></i> <a href="#">#table,</a> <a href="#">#food,</a> <a href="#">#groggery</a></p>
                </div> <!-- / .blog-item__content -->
              </div> <!-- / .blog__item -->
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="blog__item blog__item1">
                <div class="blog-item__img">
                  <img src="{% static 'img/gallery_10.jpg' %}" class="img-responsive" alt="...">
                </div>
                <div class="blog-item__content">
                  <a href="{% url 'blog_post' %}" class="blog-item__title">
                    <h3>Our food traditions</h3>
                  </a>
                  <div class="blog-item__info">
                    <ul class="item-info__list">
                      <li class="info-list__item"><i class="ion-android-person" aria-hidden="true"></i> by John Doe</li>
                      <li class="info-list__item"><i class="ion-android-chat" aria-hidden="true"></i> 5 Comments</li>
                      <li class="info-list__item"><i class="ion-android-calendar" aria-hidden="true"></i> 2 hours ago</li>
                    </ul>
                  </div>
                  <div class="blog-item__text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non quis quia laudantium accusantium, sint, perspiciatis magni illum deserunt mollitia quaerat doloribus deleniti incidunt consequuntur earum fuga dolorum consequatur corrupti adipisci.
                  </div>
                  <p class="blog-item__tags"><i class="ion-ios-pricetags" aria-hidden="true"></i> <a href="#">#cook,</a> <a href="#">#recipe,</a> <a href="#">#groggery</a></p>
                </div> <!-- / .blog-item__content -->
              </div> <!-- / .blog__item -->
            </div>
            <div class="col-sm-12 col-md-4">
              <div class="blog__item blog__item1">
                <div class="blog-item__img">
                  <img src="{% static 'img/gallery_7.jpg' %}" class="img-responsive" alt="...">
                </div>
                <div class="blog-item__content">
                  <a href="{% url 'blog_post' %}" class="blog-item__title">
                    <h3>Let's cook together!</h3>
                  </a>
                  <div class="blog-item__info">
                    <ul class="item-info__list">
                      <li class="info-list__item"><i class="ion-android-person" aria-hidden="true"></i> by John Doe</li>
                      <li class="info-list__item"><i class="ion-android-chat" aria-hidden="true"></i> 2 Comments</li>
                      <li class="info-list__item"><i class="ion-android-calendar" aria-hidden="true"></i> 7 hours ago</li>
                    </ul>
                  </div>
                  <div class="blog-item__text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non quis quia laudantium accusantium, sint, perspiciatis magni illum deserunt mollitia quaerat doloribus deleniti incidunt consequuntur earum fuga dolorum consequatur corrupti adipisci.
                  </div>
                  <p class="blog-item__tags"><i class="ion-ios-pricetags" aria-hidden="true"></i> <a href="#">#bar,</a> <a href="#">#cafe,</a> <a href="#">#groggery</a></p>
                </div> <!-- / .blog-item__content -->
              </div> <!-- / .blog__item -->
            </div>
          </div> <!-- .row -->
          </div class="row">
            <div class="text-center">
              <button type="button" class="btn btn-default">More posts</button>
            </div>
          </div> <!-- .row -->
        </div> <!-- .container -->
      </section>


{% endblock %}
