{% extends 'artisan_app/base.html' %}
{% load static %}
{% block content %}

    <!--  NAVBAR
    ================================================== -->

    <!-- navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar__collapse" aria-expanded="false">
            <span class="sr-only">Menu</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}">The Artisan Bakery</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar__collapse">
          <ul class="nav navbar-nav navbar-right">

            <!-- General links english-->
            <!-- <li><a href="{% url 'home' %}">Home</a><li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'menu' %}">Menu</a></li>
            <li><a href="{% url 'gallery' %}">Gallery</a></li>
            <li><a href="{% url 'events' %}">Events</a></li>
            <li><a href="{% url 'blog' %}">Blog</a></li>
            <li class="active"><a href="{% url 'contacts' %}">Contact</a></li> -->

            <!-- General links -->
            <li><a href="{% url 'home' %}">Acasa</a></li>
            <li><a href="{% url 'about' %}">Despre</a></li>
            <li><a href="{% url 'menu' %}">Meniu</a></li>
            <li><a href="{% url 'gallery' %}">Galerie foto</a></li>
            <li><a href="{% url 'events' %}">Evenimente</a></li>
            <li><a href="{% url 'blog' %}">Blog</a></li>
            <li class="active"><a href="{% url 'contacts' %}">Contact</a></li>
            {% if user.is_authenticated %}
            <!-- <li><a href="{% url 'send_email' %}">Send Newsletter</a></li>-->
            <li  class="active"><a class="" href="{% url 'send_email' %}">Trimite Newsletter</a></li>

            {% endif %}
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>
    <!-- CONTENT
    ================================================== -->

		<!-- HEADER
		================================================== -->
    <section class="section section_header section_header__contacts">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">

						<!-- Heading -->
              <!-- english -->
						<!-- <h1 class="section__heading section_header__heading text-center">
							Contact
						</h1> -->
              <!-- romanian -->
            <h1 class="section__heading section_header__heading text-center">
							Contact
						</h1>

						<!-- Breadcrumbs -->
						<ol class="breadcrumb">
              <!-- english -->
							<!-- <li><a href="{% url 'home' %}">Home</a></li> -->
              <!-- romanian -->
              <li><a href="{% url 'home' %}">Acasa</a></li>
              <!-- english -->
              <!-- <li class="active">Contact</li> -->
              <!-- romanian -->
							<li class="active">Contact</li>
						</ol>

          </div>
        </div> <!-- .row -->
      </div> <!-- .container -->
      <div class="section_header__bg contacts_bg"></div>
    </section>

    <!-- section contacts -->
    <section class="section_contacts">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h2 class="section_title">&#8722; Vrei sa ne contactezi {{ message_name }}? &#8722;</h2>
            <hr class="section_title_line">
            <p class="section_caption">O poti face foarte usor folosind una din metodele de mai jos...</p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">

            <div class="section_contacts__item">

              <!-- Title -->
              <h3 class="item__title">
                E-Mail
              </h3>
              <i class="ion-ios-email-outline"></i>

              <!-- Content -->
              <p class="item__content">
                <a href="mailto:admin@groggery.com" >contact@artisanbakery.ro</a>
              </p>
              <p class="item__content">
                <a href="mailto:groggery@domain.com">------------------------</a>
              </p>

            </div>

          </div>
          <div class="col-sm-4">

            <div class="section_contacts__item">

              <!-- Title english-->

              <!-- <h3 class="item__title">
                Phone
              </h3> -->
              <!-- Title romanian-->
              <h3 class="item__title">
                Telefon
              </h3>
              <i class="ion-ios-telephone-outline"></i>

              <!-- Content -->
              <p class="item__content">
                <a href="tel:+40 768 662 612">+40 768 662 612</a>
              </p>
              <p class="item__content">
                <a href="tel:+40 757 484 56">+40 757 484 560</a>
              </p>

            </div>

          </div>
          <div class="col-sm-4">

            <div class="section_contacts__item">

              <!-- Title -->
              <h3 class="item__title">
                Social
              </h3>
              <i class="ion-social-twitter-outline"></i>

              <!-- Content -->
              <ul class="item__content contact_social">
                <li class="contact_social__item"><a href="https://www.facebook.com/artisanbakerybrasov">Facebook</a></li>
                <li class="contact_social__item"><a href="https://www.instagram.com/artisanbakerybrasov/">Instagram</a></li>
              </ul>
              <ul class="item__content contact_social">
                <li class="contact_social__item"><a href="#">Twitter</a></li>
                <li class="contact_social__item"><a href="#">Foursquare</a></li>
              </ul>

            </div>

          </div>
        </div> <!-- / .row -->

      </div> <!-- .container -->
    </section>

    {% include 'artisan_app/contact_form.html' %}

{% endblock %}
