{% extends 'artisan_app/base.html' %}
{% load static %}
{% block content %}
    <!--  NAVBAR
    ================================================== -->

    <!-- navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar__collapse" aria-expanded="false">
            <span class="sr-only">Menu</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}">The Artisan Bakery</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar__collapse">
          <ul class="nav navbar-nav navbar-right">

            <!-- General links english-->
            <!-- <li><a href="{% url 'home' %}">Home</a><li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'menu' %}">Menu</a></li>
            <li><a href="{% url 'gallery' %}">Gallery</a></li>
            <li class="active"><a href="{% url 'events' %}">Events</a></li>
            <li><a href="{% url 'blog' %}">Blog</a></li>
            <li><a href="{% url 'contacts' %}">Contact</a></li> -->

            <!-- General links -->
            <li><a href="{% url 'home' %}">Acasa</a></li>
            <li><a href="{% url 'about' %}">Despre</a></li>
            <li><a href="{% url 'menu' %}">Meniu</a></li>
            <li><a href="{% url 'gallery' %}">Fotografii</a></li>
            <li class="active"><a href="{% url 'events' %}">Evenimente</a></li>
            <li><a href="{% url 'blog' %}">Blog</a></li>
            <li><a href="{% url 'contacts' %}">Contact</a></li>

        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>

      <!-- HEADER
      ================================================== -->
      <section class="section section_header section_header__events">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">

              <!-- Heading -->
                <!-- english -->
              <!-- <h1 class="section__heading section_header__heading text-center">
                Events
              </h1> -->

              <h1 class="section__heading section_header__heading text-center">
                  Evenimente
              </h1>
              <!-- Breadcrumbs -->
              <ol class="breadcrumb">
                <!-- english -->
                <!-- <li><a href="{% url 'home' %}">Home</a></li> -->
                <!-- romanian -->
                <li><a href="{% url 'home' %}">Acasa</a></li>
                <!-- english -->
                <!-- <li class="active">Events</li> -->
                <!-- romanian -->
                <li class="active">Evenimente</li>

              </ol>

            </div>
          </div> <!-- .row -->
        </div> <!-- .container -->
        <div class="section_header__bg events_bg"></div>
      </section>

      <!-- section events -->
      <section class="section_events">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <!-- <h2 class="section_title">&#8722; This week &#8722;</h2> -->
              <h2 class="section_title">&#8722; Saptamana aceasta &#8722; {{ this_week_events}}</h2>

              <hr class="section_title_line">
              <p class="section_caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, assumenda vitae earum voluptatibus.</p>
            </div>
          </div> <!-- .row -->
        </div> <!-- .container -->
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="events">

                {% for event in this_week_events %}
                <div class="events__item events__item_jazz">
                  <div class="events-item__body">
                    <div class="events-item__content">
                      <h2>{{ event.type|safe }}</h2>
                      <h3 class="events-item__content_extra extra_title">{{ event.title|safe }}</h3>
                      <p class="events-item__content_extra extra_caption">{{ event.description|safe }}</p>
                      <ul class="events-item__content_extra">
                        <li><i class="icon ion-ios-calendar-outline"></i>{{ event.start_date|date:"d N Y" }}</li>
                        <li><i class="icon ion-ios-clock-outline"></i>{{ event.start_date|date:"h:iA" }}</li>
                      </ul>
                      <div class="events-item__content_extra">
                        <!-- <a href="{% url 'reservation' %}" class="btn btn-default">Book now</a> -->
                        <a href="{% url 'reservation' %}" class="btn btn-default">Rezerva acum</a>

                      </div>
                    </div>
                  </div>
                </div> <!-- .events_item -->
                {% endfor %}
                <!-- <div class="events__item events__item_music">
                  <div class="events-item__body">
                    <div class="events-item__content">
                      <h2>Concert</h2>
                      <h3 class="events-item__content_extra extra_title">Live concert with our friends</h3>
                      <p class="events-item__content_extra extra_caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur sint similique beatae eius, reprehenderit corporis.</p>
                      <ul class="events-item__content_extra">
                        <li><i class="icon ion-ios-calendar-outline"></i> October 5, 2016</li>
                        <li><i class="icon ion-ios-clock-outline"></i> 19:00</li>
                      </ul>
                      <div class="events-item__content_extra">
                        <a href="{% url 'reservation' %}" class="btn btn-default">Book now</a>
                      </div>
                    </div>
                  </div>
                </div> <!-- .events_item -->
                <!--<div class="events__item events__item_poetry">
                  <div class="events-item__body">
                    <div class="events-item__content">
                      <h2>Poetry</h2>
                      <h3 class="events-item__content_extra extra_title">Modern poetry</h3>
                      <p class="events-item__content_extra extra_caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione vero commodi enim, ullam ex sit mollitia, saepe assumenda.</p>
                      <ul class="events-item__content_extra">
                        <li><i class="icon ion-ios-calendar-outline"></i> October 9, 2016</li>
                        <li><i class="icon ion-ios-clock-outline"></i> 20:00</li>
                      </ul>
                      <div class="events-item__content_extra">
                        <a href="{% url 'reservation' %}" class="btn btn-default">Book now</a>
                      </div>
                    </div>
                  </div>
                </div> <!-- .events_item -->
                <!--<div class="events__item events__item_wine">
                  <div class="events-item__body">
                    <div class="events-item__content">
                      <h2>Wine</h2>
                      <h3 class="events-item__content_extra extra_title">Large selection of delicious wine</h3>
                      <p class="events-item__content_extra extra_caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique eius minima, dolorum eveniet amet aperiam eaque esse animi.</p>
                      <ul class="events-item__content_extra">
                        <li><i class="icon ion-ios-calendar-outline"></i> October 17, 2016</li>
                        <li><i class="icon ion-ios-clock-outline"></i> 19:30</li>
                      </ul>
                      <div class="events-item__content_extra">
                        <a href="{% url 'reservation' %}" class="btn btn-default">Book now</a>
                      </div>
                    </div>
                  </div>
                </div> --> <!-- .events_item -->
              </div> <!-- .events -->
            </div>
          </div> <!-- .row -->
        </div> <!-- .container-fluid -->
      </section>

      <!-- section events-alt -->
      <section class="section_events-alt">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <!-- <h2 class="section_title">&#8722; This Month &#8722;</h2> -->
              <h2 class="section_title">&#8722; Luna aceasta &#8722;</h2>

              <hr class="section_title_line">
              <p class="section_caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, assumenda vitae earum voluptatibus.</p>
            </div>
          </div> <!-- .row -->
        </div> <!-- .container -->
        <div class="container">
          <div class="row">
            {% for event in this_month_events %}
            <div class="col-sm-6">
              <div class="event_card">
                <div class="event_card__img">
                  <img src="{{ event.image.url }}" class="img-responsive" alt="...">
                </div>
                <div class="event_card__body">
                  <div class="event_card__date">
                    <i class="icon ion-ios-calendar-outline"></i>{{ event.start_date|date:"d N Y" }}
                  </div>
                  <h4 class="event_card__title">
                    {{ event.title }}
                  </h4>
                  <div class="event_card__desc">
                    {{ event.description|safe }}
                  </div>
                  <div class="event_card__time">
                    <i class="ion-ios-clock-outline"></i>{{ event.start_date|date:"h:iA" }} - {{ event.end_date|date:"h:iA" }}
                  </div>
                  <div class="event_card__price">
                    <i class="ion-ios-pricetags-outline"></i>{{ event.tax }} LEI
                  </div>
                  <hr>
                  <div class="event_card__btn">
                    <a href="{% url 'reservation' %}" class="btn btn-default">Book now</a>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
            <div class="col-sm-6">
              <div class="event_card">
                <div class="event_card__img">
                  <img src="{% static '/img/drinks_3.jpg' %}" class="img-responsive" alt="...">
                </div>
                <div class="event_card__body">
                  <div class="event_card__date">
                    <i class="icon ion-ios-calendar-outline"></i> 15 November
                  </div>
                  <h4 class="event_card__title">
                    Craft beer festival
                  </h4>
                  <div class="event_card__desc">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exasperiores quos in quibusdam tempore dolore.
                  </div>
                  <div class="event_card__time">
                    <i class="ion-ios-clock-outline"></i> 19:00 - 23:00
                  </div>
                  <div class="event_card__price">
                    <i class="ion-ios-pricetags-outline"></i> $80
                  </div>
                  <hr>
                  <div class="event_card__btn">
                    <a href="{% url 'reservation' %}" class="btn btn-default">Book now</a>
                  </div>
                </div>
              </div>
            </div>
          </div> <!-- .row -->
          <div class="row">
            <div class="col-sm-6">
              <div class="event_card">
                <div class="event_card__img">
                  <img src="{% static '/img/slider_bg2.jpg' %}" class="img-responsive" alt="...">
                </div>
                <div class="event_card__body">
                  <div class="event_card__date">
                    <i class="icon ion-ios-calendar-outline"></i> 16 November
                  </div>
                  <h4 class="event_card__title">
                    Groggery 7 birthday
                  </h4>
                  <div class="event_card__desc">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exasperiores quos in quibusdam tempore dolore.
                  </div>
                  <div class="event_card__time">
                    <i class="ion-ios-clock-outline"></i> 15:00 - 23:00
                  </div>
                  <div class="event_card__price">
                    <i class="ion-ios-pricetags-outline"></i> $100
                  </div>
                  <hr>
                  <div class="event_card__btn">
                    <a href="{% url 'reservation' %}" class="btn btn-default">Book now</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="event_card">
                <div class="event_card__img">
                  <img src="{% static '/img/events_jazz.jpg' %}" class="img-responsive" alt="...">
                </div>
                <div class="event_card__body">
                  <div class="event_card__date">
                    <i class="icon ion-ios-calendar-outline"></i> 30 November
                  </div>
                  <h4 class="event_card__title">
                    Jazz evening
                  </h4>
                  <div class="event_card__desc">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exasperiores quos in quibusdam tempore dolore.
                  </div>
                  <div class="event_card__time">
                    <i class="ion-ios-clock-outline"></i> 19:00 - 21:00
                  </div>
                  <div class="event_card__price">
                    <i class="ion-ios-pricetags-outline"></i> $25
                  </div>
                  <hr>
                  <div class="event_card__btn">
                    <a href="{% url 'reservation' %}" class="btn btn-default">Book now</a>
                  </div>
                </div>
              </div>
            </div>
          </div> <!-- .row -->
        </div> <!-- .container -->
      </section>
{% endblock %}
