{% extends 'artisan_app/base.html' %}
{% load static %}
{% block content %}
    <!--  NAVBAR
    ================================================== -->

    <!-- navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar__collapse" aria-expanded="false">
            <span class="sr-only">Menu</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}">The Artisan Bakery</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar__collapse">
          <ul class="nav navbar-nav navbar-right">

            <!-- General links english-->
            <!-- <li><a href="{% url 'home' %}">Home</a><li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'menu' %}">Menu</a></li>
            <li><a href="{% url 'gallery' %}">Gallery</a></li>
            <li class="active"><a href="{% url 'events' %}">Events</a></li>
            <li><a href="{% url 'blog' %}">Blog</a></li>
            <li><a href="{% url 'contacts' %}">Contact</a></li> -->

            <!-- General links -->
            <li><a href="{% url 'home' %}">Acasa</a></li>
            <li><a href="{% url 'about' %}">Despre</a></li>
            <li><a href="{% url 'menu' %}">Meniu</a></li>
            <li><a href="{% url 'gallery' %}">Fotografii</a></li>
            <li class="active"><a href="{% url 'events' %}">Evenimente</a></li>
            <li><a href="{% url 'blog' %}">Blog</a></li>
            <li><a href="{% url 'contacts' %}">Contact</a></li>
            {% if user.is_authenticated %}
            <!-- <li><a href="{% url 'send_email' %}">Send Newsletter</a></li>-->
            <li><a class="" href="{% url 'send_email' %}">Trimite Newsletter</a></li>

            {% endif %}
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>

      <!-- HEADER
      ================================================== -->
      <section class="section section_header section_header__events">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">

              <!-- Heading -->
                <!-- english -->
              <!-- <h1 class="section__heading section_header__heading text-center">
                Events
              </h1> -->

              <h1 class="section__heading section_header__heading text-center">
                  Evenimente
              </h1>
              <!-- Breadcrumbs -->
              <ol class="breadcrumb">
                <!-- english -->
                <!-- <li><a href="{% url 'home' %}">Home</a></li> -->
                <!-- romanian -->
                <li><a href="{% url 'home' %}">Acasa</a></li>
                <!-- english -->
                <!-- <li class="active">Events</li> -->
                <!-- romanian -->
                <li class="active">Evenimente</li>

              </ol>

            </div>
          </div> <!-- .row -->
        </div> <!-- .container -->
        <div class="section_header__bg events_bg"></div>
      </section>

      <!-- section events-alt -->
      <section class="section_events-alt">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <!-- <h2 class="section_title">&#8722; This Week &#8722;</h2> -->
              <h2 class="section_title">&#8722; Saptamana aceasta &#8722;</h2>

              <hr class="section_title_line">
              <p class="section_caption"></p>
            </div>
          </div> <!-- .row -->
        </div> <!-- .container -->
        <div class="container">

          <div class="row">
          {% if not this_month_events %}
            <p class="section_caption">Din pacate nu sunt evenimente saptamana aceasta, dar tineti aproape!</p>
          {% else %}

            {% for event in this_week_events %}
            <div class="col-sm-6">
              <div class="event_card">
                <div class="event_card__img">
                  <img src="{{ event.image.url }}" class="img-responsive" alt="...">
                </div>
                <div class="event_card__body">
                  <div class="event_card__date">
                    <i class="icon ion-ios-calendar-outline"></i>{{ event.start_date|date:"d N Y" }}
                  </div>
                  <h4 class="event_card__title">
                    {{ event.title }}
                  </h4>
                  <div class="event_card__desc">
                    {{ event.description|striptags|truncatechars:100 }}
                  </div>
                  <div class="event_card__time">
                    <i class="ion-ios-clock-outline"></i>{{ event.start_date|date:"h:iA" }} - {{ event.end_date|date:"h:iA" }}
                  </div>
                  <div class="event_card__price">
                    <i class="ion-ios-pricetags-outline"></i>{{ event.tax }} LEI
                  </div>
                  <hr>
                  <div class="event_card__btn">
                    <!-- <a href="reservation.html" class="btn btn-default">Book now</a> -->

                    <a href="reservation.html" class="btn btn-default">Rezerva acum</a>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          {% endif %}
          </div> <!-- .row -->
        </div> <!-- .container -->
      </section>


      <!-- section events-alt -->
      <section class="section_events-alt">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <!-- <h2 class="section_title">&#8722; This Month &#8722;</h2> -->
              <h2 class="section_title">&#8722; Luna aceasta &#8722;</h2>

              <hr class="section_title_line">
              <p class="section_caption"></p>
            </div>
          </div> <!-- .row -->
        </div> <!-- .container -->
        <div class="container">
          <div class="row">
          {% if not this_month_events %}
            <!-- <p class="events-item__content_extra extra_caption">Unfortunatelly there are no events within next month, but keep close for news!</p> -->

            <p class="section_caption">Din pacate nu sunt evenimente in urmatoarea luna, dar tineti aproape!</p>
          {% else %}
            {% for event in this_month_events %}
            <div class="col-sm-6">
              <div class="event_card">
                <div class="event_card__img">
                  <img src="{{ event.image.url }}" class="img-responsive" alt="...">
                </div>
                <div class="event_card__body">
                  <div class="event_card__date">
                    <i class="icon ion-ios-calendar-outline"></i>{{ event.start_date|date:"d N Y" }}
                  </div>
                  <h4 class="event_card__title">
                    {{ event.title }}
                  </h4>
                  <div class="event_card__desc">
                    {{ event.description|striptags|truncatechars:100 }}
                  </div>
                  <div class="event_card__time">
                    <i class="ion-ios-clock-outline"></i>{{ event.start_date|date:"h:iA" }} - {{ event.end_date|date:"h:iA" }}
                  </div>
                  <div class="event_card__price">
                    <i class="ion-ios-pricetags-outline"></i>{{ event.tax }} LEI
                  </div>
                  <hr>
                  <div class="event_card__btn">
                    <!-- <a href="reservation.html" class="btn btn-default">Book now</a> -->
                    <a href="{% url 'reservation' %}" class="btn btn-default">Rezerva acum</a>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          {% endif %}
          </div> <!-- .row -->
        </div> <!-- .container -->
      </section>
{% endblock %}
