{% extends 'artisan_app/base.html' %}
{% load static %}
{% block content %}

<!--  NAVBAR
================================================== -->

<!-- navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar__collapse" aria-expanded="false">
        <span class="sr-only">Menu</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index_default.html">{{ slogans.brand }}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar__collapse">
      <ul class="nav navbar-nav navbar-right">

        <!-- General links english-->
        <!-- <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li class="active"><a href="{% url 'menu' %}">Menu</a></li>
        <li ><a href="{% url 'gallery' %}">Gallery</a></li>
        <li><a href="{% url 'events' %}">Events</a></li>
        <li><a href="{% url 'blog' %}">Blog</a></li>
        <li><a href="{% url 'contacts' %}">Contact</a></li> -->

        <!-- General links romanian -->
        <li><a href="{% url 'home' %}">Acasa</a></li>
        <li><a href="{% url 'about' %}">Despre</a></li>
        <li class="active"><a href="{% url 'menu' %}">Meniu</a></li>
        <li><a href="{% url 'gallery' %}">Galerie foto</a></li>
        <li><a href="{% url 'events' %}">Evenimente</a></li>
        <li><a href="{% url 'blog' %}">Blog</a></li>
        <li><a href="{% url 'contacts' %}">Contact</a></li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>
      <!-- CONTENT
      ================================================== -->

      <!-- HEADER
      ================================================== -->
      <section class="section section_header section_header__menu">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">

              <!-- Heading -->
                <!-- english -->
              <!-- <h1 class="section__heading section_header__heading text-center">
                Menu
              </h1> -->
                <!-- romanian -->
              <h1 class="section__heading section_header__heading text-center">
                Meniu
              </h1>

              <!-- Breadcrumbs -->
              <ol class="breadcrumb">
                <!-- <li><a href="{% url 'home' %}">Home</a></li> -->
                <li><a href="{% url 'home' %}">Acasa</a></li>

                <!-- <li class="active">Menu</li> -->
                <li class="active">Meniu</li>

              </ol>

            </div>
          </div> <!-- .row -->
        </div> <!-- .container -->
        <div class="section_header__bg menu_bg"></div>
      </section>

      <!-- section menu -->
      <section class="section_menu" id="section_menu">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <!-- <h2 class="section_title">&#8722; Menu &#8722;</h2> -->
              <h2 class="section_title">&#8722; Meniu &#8722;</h2>

              <hr class="section_title_line">
              <p class="section_caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit mollitia, temporibus aliquid quae, repellendus eaque? Illo harum omnis sed debitis ratione dolor.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <ul class="nav nav-tabs menu_nav">
                <!-- <li role="presentation" class="active"><a href="#" role="tab" data-filter=".menu_breakfast">Breakfast</a></li>
                <li role="presentation"><a href="#" role="tab" data-filter=".menu_lunch">Lunch</a></li>
                <li role="presentation"><a href="#" role="tab" data-filter=".menu_dinner">Dinner</a></li>
                <li role="presentation"><a href="#" role="tab" data-filter=".menu_drinks">Drinks</a></li>
                <li role="presentation"><a href="#" role="tab" data-filter=".menu_desserts">Desserts</a></li> -->
                {% for item in recipe_categories %}
                <li role="presentation" class="active"><a href="#" role="tab" data-filter=".{{ item.slug }}">{{ item.title|title }}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>

          <div class="row menu__grid">
            {% for recipe in menu %}
            <div class="col-sm-4 menu__item {{ recipe.category }}">
              <div class="menu__item_hover">
                <img src="{{ recipe.photo.url }}" class="img-responsive" alt="...">
                <div class="menu__item_overlay">
                  <h3 class="menu_name">{{ recipe.recipe_name }} <span class="price">{{ recipe.price_tag }} {{ recipe.measurement }}</span></h3>
                  <!-- <h3> <span class="price">{{ recipe.price_tag }}</span></h3> -->
                  <p class="overlay_info">{{ recipe.description|striptags }}</p>
                </div>
              </div>
            </div>
            {% endfor %}
          </div> <!-- .row -->
        </div> <!-- .container -->
      </section>


{% endblock %}
